body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #0f0f0f;
  background-image: url(orion.jpg);
  background-size: cover;
  background-position: center;
}

#canvas {
  border: 2px solid greenyellow;
  box-shadow: 0px 0px 20px green;
  background: rgba(0, 0, 0, 0.95);
  border-radius: 1rem;
}

#score {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
  color: limegreen;
  text-shadow: 0 0 5px limegreen, 0 0 10px limegreen, 0 0 20px limegreen;
}
